/*********************************************************************************
* WEB322 – Assignment 03
* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part
* of this assignment has been copied manually or electronically from any other source
* (including 3rd party web sites) or distributed to other students.
*
* Name: Khushwant Singh Rao     Student ID: 145931192    Date: 24/10/2021
*
* Online (Heroku) Link: https://obscure-coast-19516.herokuapp.com/
*
********************************************************************************/

body {

    font-size: 10pt;
  
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  
    color: rgb(112, 50, 50);
  
    line-height: 14pt;
  
    padding-left: 5pt;
  
    padding-right: 5pt;
  
    padding-top: 5pt;
  
  }
  

  
 
  

  
  

  

  
 