.btn-info {
  color: #fff;
  background-color: #53ca4f;
  border-color: #630000;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #53ca4f;
  border-color: #800000;
}
.btn-info:hover {
  color: #fff;
  background-color: #53ca4f;
  border-color: #800000;
}
.navbar-default {
  background-color: #53ca4f;
  border-color: #700000;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
background-color: #7a1f1f;
  color: rgb(245, 242, 248);
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(35, 0, 88);
}
.navbar-default .navbar-nav > li > a {
color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
color: rgb(0, 90, 27);
background-color: transparent;
}
legend {
  color: white;
}
body {
  color: rgb(46, 2, 2);
  background: rgb(212, 212, 212);
}